.background .conta{
	display: inline-block;
}

body{

  
}

.conta{
	 width: 40%;
      height: 750px;
}

.logo img{
display: block;
position: relative;
margin: 0 auto ;
margin-top: 2%;
}

.login h4{
	text-align:center;

} 

.login form{
	text-align:center;
}
form{
	padding: 10px;
}
input[type='text']{
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10%;
	background-color: transparent;
	color: red
}
input[type='password']{
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10%;
	background-color: transparent;
}
input[type='submit']{
	width: 150px;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10%;
}
.ar{

}
.ar a{
	
	display: block;
	border: 1px solid black;
	border-radius: 10% ;
	text-align: right;
	color: black;
}
.en a{
	
	display: block;
	border: 1px solid black;
	border-radius: 10% ;
	text-align: left;
	color: black;
}

.backgro{
	background-image: url('../page/en-bootstrap/hbu.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.lang-ar{
	
	text-align: right;
	margin-top: 15px;
}