.logo-login{
	display: block;
	margin-right:  auto;
	margin-left: auto;
	margin-top: 45px;
}
.ar-button{
	text-align: right;
	margin-top:15px;
}
.cardx{
	margin-top: 15px;
}
.en-button{
	text-align: left;
	margin-top:15px;
}
.ar-x{
	margin-right: 300px;
}
.btns{
	display: block;
	margin:0 auto;
}
.x{
	display: inline-block;
}
.card-heading{
	display: block;
	text-align: center;
	font-size: 3em;
}
.card-body{
	text-align: center;
}
.fom {
	margin-left: 3px 
}
